* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background-image: url('sksLogoedit.png');
    background-color: #cccccc;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #768779;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: black;
    color: white;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: #5c5c5c;
    padding: 20px;
}


/* Fake image, just for this example */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    color: purple;
    text-align: center;
    background-color: rgb(97, 97, 97);
}

.icon-bar {
    float: right;
}

.icon-bar a {
    display: block;
    text-align: right;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.artikel {
    margin-top: 40px;
    background-color: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px 15px 5px 30px;
}
